body{
	&.debug:before{
		content: '';
		display: block;
		width: 100%;
		background-image: url("../../site.png");
		background-repeat: no-repeat;
		position: absolute;
		height: 5130px;
		background-size: 100%;
	}
}

.hidden{
	display: none;
}

.logo{
	position: relative;
}

.image{
	&.cover{
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		height: 100%;
		width: 100%;
		img{
			flex-shrink: 0;
			min-width: 100%;
			min-height: 100%;
		}
	}
}

#one{
	color: _palette(fg-dark);
	padding-top: 5.625em;
	p{
		margin-bottom: 1.75em;
	}
	#wrapper &{
		padding-left: 0;
	}
	.bloco{
		width: 56%;
		overflow: hidden;
		.wrapper{
			> .inner {
				padding: 3em 7em;

				// @include breakpoint(xlarge) {
				// 	@include padding(3em, 3em);
				// }

				@include breakpoint(small) {
					@include padding(2em, 1em);
				}
			}
			padding-left: _size(sidebar-width);
			@include breakpoint(xlarge) {
				// padding-left: (_size(sidebar-width) * 0.75);
			}
			@include breakpoint(large) {
				padding-left: 0;
			}
			&:before{
				background-image: url('images/sobrenos-multiply.jpg');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				background-clip: content-box;
				text-align: center;

				content: '';
				display: block;
				position: absolute;
				left: 96.45%;
				top: -2.8125em;
				width: 82.1429%;
				height: 100%;

				@include breakpoint(medium) {
					opacity: 0.1;
					z-index: 0;
					width: 100%;
					left: 0;
					top: 0;
					border-bottom: none;
				}
			}

		}
		@include breakpoint(medium) {
			width: 100%;
			margin: 0;
		}
		&:after{
			background-image: url('images/sobrenos.jpg');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			background-clip: content-box;
			text-align: center;

			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: -2.8125em;
			width: 46%;
			height: 100%;
			z-index: -1;

			@include breakpoint(medium) {
				width: 100%;
				left: 0;
				top: 0;
			}
		}

	}
}
#two{
	padding-top: 2.8125em;
	padding-bottom: 17.4999em;
	position: relative;

	#wrapper &{
		padding-left: 0;

		@include breakpoint(xlarge) {
		}
		@include breakpoint(large) {
		}
		@include breakpoint(medium) {
		}
	}
	.bloco{
		.wrapper{
			border-bottom: 1.25em solid;
			border-bottom-color: darken(mix(_palette(accent1), _palette(accent3), 50%), 50);
			height: 45em;
			width: 102.1875em;
			max-width: 100%;
			@include breakpoint(xlarge) {
				height: 45em;
				width: 102.1875em;
			}
			@include breakpoint(large) {
				height: 45em;
				width: 100%;
			}

			> .inner {
				position: relative;
				z-index: 2;
				margin-left: _size(sidebar-width);
				@include breakpoint(xlarge) {
					// margin-left: (_size(sidebar-width) * 0.75);
				}
				@include breakpoint(large) {
					width: 100%;
					margin-left: 0;
				}
			}
		}
	}
	.owl-controls{
		width: 100%;
		height: 0; //estava impedindo o clique nas imagens
		bottom: 0;
	}
	.owl-nav {
		position: relative;
		.owl-prev,
		.owl-next {
			font-family: _font(family-alt);
			letter-spacing: 0.2em;
			font-weight: 100;
			position: absolute;
			top: -3.2em;
			font-size: 2em;
		}
		.owl-prev {
			left: -1.875em;
		}
		.owl-next {
			right: -1.875em;
		}
	}
	#thumbs{
		width: 65.625em;
		max-width: 100%;
		margin: 3.75em auto 2em;
		.item{
			width: 9.375em;
			height: 9.375em;
			text-align: center;
			margin: auto;
			@include breakpoint(xlarge) {
				width: 9.375em;
				height: 9.375em;
			}
			@include breakpoint(large) {
				width: 9.375em;
				height: 9.375em;
			}
			@include breakpoint(medium) {
				width: 9.375em;
				height: 9.375em;
			}
		}
	}
	#video h2 {
		//margin: 2.5em 0 -2em 0;
	}
	.video {
		position: relative;
		text-align: center;
		top: -5em;
		height: 30em;
	}
	&:before{
		background-color: _palette(accent2);
		display: block;
		content: '';
		position: absolute;
		width: 100%;
		height: 2.5em;
		top: 20em;
		z-index: 1;
		opacity: 0.9;
	}
	&:after{
		background-color: _palette(accent1);
		display: block;
		content: '';
		position: absolute;
		width: 100%;
		height: 2.5em;
		top: 46.5625em;
		z-index: -1;
	}
}
#three{
	> .inner {
		padding: 4em 7em;
	}
	.lojas{
		padding: 3em 0em 2em 0em;
		margin: 0;
		.loja{
			opacity: 0.5;
			margin: 1em 2.4em 1em 0em;
			&:hover{
				opacity: 1;
			}
			@include vendor('transition', (
				'opacity 0.5s ease-in-out'
			));
			@include breakpoint(large) {
				margin: 0;
				img{
					width: 100%;
				}
			}
		}
	}

}
#four{
	> .inner {
		padding: 4em 7em;
	}
	h2{
		margin-bottom: 0.5em;
	}
	#instafeed {
		width: 72.5em;
		margin-left: 0;
		display: inline-block;
		@include breakpoint(xlarge) {
			width: 72.5em;
		}
		@include breakpoint(large) {
			width: 100%;
			margin: auto;
		}
		a {
			border: 0;
			margin: 0;
			padding: 0;
			height: 18.125em;
			width: 18.125em;
			@include breakpoint(xlarge) {
				height: 18.125em;
				width: 18.125em;
			}
			@include breakpoint(large) {
				height: 25%;
				width: 25%;
			}
			position: relative;
			display: inline-block;
			margin-bottom: -0.5625em;
			img{
				display: block;
				width: 100%;
			}
		}
	}
	#insta-nav{
		height: 3.75em;
	}
}
#five{
	margin-bottom: 2.8125em;
	#wrapper &{
		//padding-left: 0;
	}
	&:before{
		background-image: url('images/escrevapragente.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		background-clip: content-box;
		text-align: center;

		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 13.125em;
		width: 50em;
		height: 33.75em;

		@include breakpoint(large) {
			top: 11.25em;
			width: 100%;
			opacity: 0.8;
		}

		@include breakpoint(medium) {
			width: 100%;
			left: 0;
			top: 0;
		}
	}
	> .inner {
		position: relative;

		@include padding(4em, 7em);

		@include breakpoint(small) {
			@include padding(2em, 1em);
		}
		section{
			position: relative;
			top: 0.625em;
			left: 30.625em;
			width: 41.875em;

			@include breakpoint(large) {
				top: 2.5em;
				width: 100%;
				left: 0;
			}
		}
	}
	.button{
		font-family: _font(family-alt);
		background-color: _palette(accent3);
		height: 2.5rem;
		width: 10.625rem;
		left: -3.625rem;
		text-align: right;
		line-height: 2.5rem;
		font-size: 1.4em;
		letter-spacing: 0.15em;
		padding: 0 0.45em;

		@include breakpoint(xlarge) {
			left: -2.5rem;
		}
		@include breakpoint(large) {
			text-align: center;
			left: 0;
		}
	}
}

#player{
	@include vendor('display', 'flex');
	@include vendor('flex-direction', 'row');
	@include vendor('justify-content', 'center');

	width: _size(sidebar-width);
	position: fixed;
	bottom: 2.2em;
	left: 0;
	padding: 0em 0.75em 0em 0em;
	opacity: 1;

	@include breakpoint(xlarge) {
		//TODO
		// width: (_size(sidebar-width) * 0.75);
	}
	@include breakpoint(large) {
		//TODO
		display: none;
	}
	@include breakpoint(medium) {
		//TODO
		display: none;
	}

	span{
		font-size: 1.5em;
		width: 1.875em;
		height: 1.875em;
		display: inline-block;
		background-position: center center;
		background-repeat: no-repeat;
		text-align: center;
		cursor: pointer;

		@include vendor('transition', (
			'background #{_duration(transition)} ease-in-out'
		));

		&.play{
			background-image: url('../img/play.png');
			background-size: contain;
			color: transparent;
			&.pause{
				background-image: url('../img/pause.png');
			}
		}
	}
}

#footer{
	padding: 0;
	color: _palette(accent3);
	text-align: center;
	#counter{
		font-family: _font(family-alt);
		padding: 2.5rem 0rem 0.625rem;
		button{
			background-color: _palette(accent1);
			cursor: default;
			width: 23.75rem;
			height: 4.25rem;
			font-size: 1.87em;
			line-height: 4.25rem;
			padding: 0;
		}
	}
	#mm{
		padding: 2.5em 0em 0.5em;
		font-size: 0.7em;
		border-bottom: 0.625rem solid _palette(accent3);
		z-index: 10000;
		position: relative;
	}
}

span.error {
	display: none;
}

.return-message.fail {
	color: #ed1b2f;
}

.return-message{
	color: #009d97;
}

html>object {
	display: none;
}