.hidden{
	display: none;
}

.logo{
	position: relative;
}

.lojas{
	opacity: 0.5;
	padding: 15px;
	&:hover{
		opacity: 1;
	}
	@include vendor('transition', (
		'opacity 0.5s ease-in-out'
	));
	@include breakpoint(large) {
		padding: 0;
	}
}

.image{
	&.cover{
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		height: 100%;
		width: 100%;
		img{
			flex-shrink: 0;
			min-width: 100%;
			min-height: 100%;
		}
	}
}

#one{
	color: _palette(fg-dark);
	margin-top: 45px;
	margin-bottom: 45px;

	#wrapper &{
		padding-left: 0;
	}
	.bloco{
		width: 60%;
		overflow: hidden;
		.wrapper{
			> .inner {
				@include padding(4em, 4em);

				@include breakpoint(xlarge) {
					@include padding(3em, 3em);
				}

				@include breakpoint(small) {
					@include padding(2em, 1em);
				}
			}
			padding-left: _size(sidebar-width);
			@include breakpoint(large) {
				padding-left: 0;
			}
			&:before{
				background-image: url('images/sobrenos-multiply.jpg');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				background-clip: content-box;
				text-align: center;

				content: '';
				display: block;
				position: absolute;
				left: 96.6666%;
				top: -45px;
				width: 70%;
				height: 100%;

				@include breakpoint(medium) {
					opacity: 0.1;
					z-index: 0;
					width: 100%;
					left: 0;
					top: 0;
					border-bottom: none;
				}
			}

		}
		margin-top: 85px;
		@include breakpoint(medium) {
			width: 100%;
			margin: 0;
		}
		&:after{
			background-image: url('images/sobrenos.jpg');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			background-clip: content-box;
			text-align: center;

			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: -45px;
			width: 42%;
			height: 100%;
			z-index: -1;

			@include breakpoint(medium) {
				width: 100%;
				left: 0;
				top: 0;
			}
		}

	}
}
#two{
	#wrapper &{
		padding-left: 0;
		padding-right: 15%;
		background-clip: content-box;
	}
	&:before{
		display: block;
		content: '';
		position: absolute;
		width: 100%;
		height: 40px;
		top: 180px;
		background-color: _palette(accent2);
	}
	> .inner{
		width: 90%;
		margin-left: _size(sidebar-width);
		@include breakpoint(xlarge) {
			width: 82%;
		}
		@include breakpoint(large) {
			width: 85%;
		}
		@include breakpoint(medium) {
			width: 85%;
			margin-left: 0;
		}

	}
	.owl-controls.clickable{
		position: absolute;
		top: 60px;
		width: 100%;
		height: 0; //estava impedindo o clique nas imagens
	}
	.owl-buttons {
		margin-top: 12px;

		.owl-prev {
			float: left;
			margin-left: -25px;
		}
		.owl-next {
			float: right;
			margin-right: -25px;
		}
	}
	#thumbs{
		width: 100%;
		.item{
			width: 200px;
			height: 200px;
			text-align: center;
			margin: 10px;
			@include breakpoint(xlarge) {
				width: 150px;
				height: 150px;
			}
			@include breakpoint(large) {
				width: 140px;
				height: 140px;
			}
			@include breakpoint(medium) {
				width: 120px;
				height: 120px;
			}
		}
	}
}
#five{
	margin-bottom: 45px;
	#wrapper &{
		//padding-left: 0;
	}
	&:before{
			background-image: url('images/escrevapragente.jpg');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			background-clip: content-box;
			text-align: center;

			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 200px;
			width: 720px;
			height: 480px;

			@include breakpoint(xlarge) {
				top: 200px;
				width: 640px;
				height: 480px;
			}

			@include breakpoint(large) {
				top: 180px;
				width: 100%;
				opacity: 0.8;
			}

			@include breakpoint(medium) {
				width: 100%;
				left: 0;
				top: 0;
			}

	}
	> .inner {
		position: relative;
		//width: 100%;
		//padding-left: 45%;

		@include padding(4em, 4em);

		@include breakpoint(xlarge) {
			@include padding(3em, 3em);
		}

		@include breakpoint(small) {
			@include padding(2em, 1em);
		}
		section{
			position: relative;
			top: -4px;
			left: 500px;
			width: 620px;

			@include breakpoint(xlarge) {
				top: -4px;
				width: 580px;
				left: 420px;
			}
			@include breakpoint(large) {
				top: 40px;
				width: 100%;
				left: 0;
			}
		}
	}
	.button{
		left: -36px;
		background-color: _palette(accent3);
		@include breakpoint(xlarge) {
			left: -40px;
		}
		@include breakpoint(large) {
			text-align: center;
		}
	}
}

#player{
	position: fixed;
	bottom: 1em;
	margin: 0;

	@include breakpoint(xlarge) {
		bottom: 1em;
		margin: 7px;
	}
	@include breakpoint(large) {
		top: 0;
		right: 0;
		bottom: initial;
		//TODO
		display: none;
	}
	@include breakpoint(medium) {
		//TODO
		display: none;
	}

	span{
		font-size: 1.5em;
		width: 45px;
		height: 45px;
		display: inline-block;
		background-position: center center;
		background-repeat: no-repeat;
		text-align: center;
		cursor: pointer;

		@include vendor('transition', (
			'opacity #{_duration(transition)} ease',
			'transform #{_duration(transition)} ease'
		));

		&.play{
			background-image: url('../img/play.png');
			color: transparent;
			&.pause{
				background-image: url('../img/pause.png');
			}
		}
	}
}

#footer{
	padding: 0;
	color: _palette(accent3);
	text-align: center;
	#counter{
		padding: 40px 0px 10px;
		button{
			background-color: _palette(accent1);
			cursor: default;
		}
	}
	#mm{
		padding: 1em 0em 0.5em;
		font-size: 0.7em;
		border-bottom: 10px solid _palette(accent3);
		z-index: 10000;
		position: relative;
	}
}
